In [1]:
from tabula import read_pdf
from tabulate import tabulate

In [3]:
# Panggil datbel yang ada di dalam pdf di halaman 64
df = read_pdf('Laporan_Nasional_RKD2018_FINAL.pdf', pages = 64)

In [7]:
df[0]

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Akses ke Rumah Sakit,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,Provinsi,NaN,Mudah,Sulit,NaN,Sangat Sulit,N
1,NaN,NaN,%,95% CI,% 95% CI,%,95% CI,tertimbang
2,Aceh,NaN,29.8,27.9 31.7,41.8 39.6 44.1,28.4,26.3 30.5,"4,876"
3,Sumatera Utara,NaN,38.8,37.1 40.4,36.7 35.0 38.5,24.5,23.0 26.1,"12,528"
4,Sumatera Barat,NaN,35.1,32.9 37.4,38.1 35.8 40.4,26.8,24.7 29.0,"4,601"
5,Riau,NaN,36.6,34.3 38.9,28.0 25.6 30.5,35.4,32.9 38.0,"5,901"
6,Jambi,NaN,25.3,22.9 27.9,32.7 29.8 35.8,41.9,39.1 44.8,"3,377"
7,Sumatera Selatan,NaN,24.9,23.0 27.0,33.0 30.4 35.7,42.0,39.6 44.5,"7,550"
8,Bengkulu,NaN,33.3,30.8 35.9,38.7 35.9 41.7,28.0,25.3 30.8,"1,909"
9,Lampung,NaN,26.6,24.3 29.1,38.1 35.6 40.7,35.3,32.8 37.9,"7,530"
10,Bangka Belitung,NaN,46.5,43.3 49.7,30.7 27.4 34.3,22.8,19.8 26.1,"1,408"
11,Kepulauan Riau,NaN,59.3,54.7 63.7,25.5 21.4 30.1,15.2,12.4 18.6,"2,148"
12,DKI Jakarta,NaN,52.3,49.9 54.7,31.5 29.4 33.8,16.2,14.3 18.2,"11,203"
13,Jawa Barat,NaN,32.3,31.0 33.6,38.2 36.9 39.5,29.5,28.3 30.8,"49,558"
14,Jawa Tengah,NaN,40.9,39.8 42.1,41.3 40.1 42.5,17.8,16.8 18.8,"35,293"
15,DI Yogyakarta,NaN,70.6,68.0 73.2,21.8 19.7 24.0,7.6,6.2 9.3,"4,258"
16,JawaTimur,NaN,41.3,40.2 42.5,42.0 40.9 43.2,16.6,15.8 17.5,"39,773"
17,Banten,NaN,38.4,35.9 40.9,37.9 35.5 40.4,23.7,21.7 25.9,"11,021"
18,Bali,NaN,60.5,57.8 63.1,29.3 27.0 31.8,10.2,8.7 11.9,"4,205"
19,Nusa Tenggara Barat,NaN,27.3,24.9 29.7,46.3 43.5 49.2,26.4,24.0 29.0,"5,041"
20,Nusa Tenggara Timur,NaN,24.5,22.7 26.3,20.9 19.1 22.8,54.6,52.4 56.8,"4,149"
21,Kalimantan,Barat,28.4,26.1 31.0,25.6 23.0 28.4,45.9,43.4 48.5,"3,995"
22,Kalimantan,Tengah,28.3,25.6 31.1,24.1 21.1 27.3,47.7,44.6 50.8,"2,479"
23,Kalimantan,Selatan,39.3,36.9 41.8,39.8 37.2 42.4,20.9,18.9 23.1,"4,182"
24,Kalimantan,Timur,43.9,40.6 47.2,27.6 24.6 30.8,28.5,25.7 31.5,"3,424"
25,Kalimantan,Utara,39.1,34.0 44.4,33.6 28.4 39.1,27.4,23.8 31.2,617
26,Sulawesi Utara,NaN,35.8,33.3 38.4,34.9 32.3 37.6,29.3,26.7 32.0,"2,362"
27,Sulawesi Tengah,NaN,30.3,27.9 32.9,28.0 25.3 30.8,41.7,38.8 44.7,"2,550"
28,Sulawesi Selatan,NaN,29.8,28.2 31.5,43.2 41.3 45.1,27.0,25.4 28.7,"7,919"
29,Sulawesi Tenggara,NaN,27.9,25.3 30.6,36.8 33.7 40.0,35.4,32.2 38.7,"2,039"
30,Gorontalo,NaN,33.1,29.8 36.7,34.1 30.1 38.4,32.8,28.9 36.9,"1,065"
31,Sulawesi Barat,NaN,21.0,17.3 25.3,28.4 24.1 33.0,50.6,45.7 55.5,"1,119"
32,Maluku,NaN,26.8,23.2 30.7,28.6 24.9 32.5,44.7,40.7 48.7,"1,330"
33,Maluku Utara,NaN,31.4,28.3 34.7,26.5 23.1 30.2,42.1,38.0 46.3,899
34,Papua Barat,NaN,34.5,30.3 39.0,25.9 22.2 30.0,39.6,34.8 44.5,845
35,Papua,NaN,19.3,17.4 21.3,21.5 19.2 23.9,59.3,56.6 61.9,"2,933"
36,INDONESIA,NaN,37.1,36.6 37.5,36.9 36.5 37.4,26.0,25.6 26.4,"254,087"

In [25]:
import numpy as np
# Hilangkan yang NaN dengan nilai kosong
df_edit = df[0].replace(np.nan, '')
df_edit

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Akses ke Rumah Sakit,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,,Provinsi,,Mudah,Sulit,,Sangat Sulit,N
1,,,%,95% CI,% 95% CI,%,95% CI,tertimbang
2,Aceh,,29.8,27.9 31.7,41.8 39.6 44.1,28.4,26.3 30.5,"4,876"
3,Sumatera Utara,,38.8,37.1 40.4,36.7 35.0 38.5,24.5,23.0 26.1,"12,528"
4,Sumatera Barat,,35.1,32.9 37.4,38.1 35.8 40.4,26.8,24.7 29.0,"4,601"
5,Riau,,36.6,34.3 38.9,28.0 25.6 30.5,35.4,32.9 38.0,"5,901"
6,Jambi,,25.3,22.9 27.9,32.7 29.8 35.8,41.9,39.1 44.8,"3,377"
7,Sumatera Selatan,,24.9,23.0 27.0,33.0 30.4 35.7,42.0,39.6 44.5,"7,550"
8,Bengkulu,,33.3,30.8 35.9,38.7 35.9 41.7,28.0,25.3 30.8,"1,909"
9,Lampung,,26.6,24.3 29.1,38.1 35.6 40.7,35.3,32.8 37.9,"7,530"
10,Bangka Belitung,,46.5,43.3 49.7,30.7 27.4 34.3,22.8,19.8 26.1,"1,408"
11,Kepulauan Riau,,59.3,54.7 63.7,25.5 21.4 30.1,15.2,12.4 18.6,"2,148"
12,DKI Jakarta,,52.3,49.9 54.7,31.5 29.4 33.8,16.2,14.3 18.2,"11,203"
13,Jawa Barat,,32.3,31.0 33.6,38.2 36.9 39.5,29.5,28.3 30.8,"49,558"
14,Jawa Tengah,,40.9,39.8 42.1,41.3 40.1 42.5,17.8,16.8 18.8,"35,293"
15,DI Yogyakarta,,70.6,68.0 73.2,21.8 19.7 24.0,7.6,6.2 9.3,"4,258"
16,JawaTimur,,41.3,40.2 42.5,42.0 40.9 43.2,16.6,15.8 17.5,"39,773"
17,Banten,,38.4,35.9 40.9,37.9 35.5 40.4,23.7,21.7 25.9,"11,021"
18,Bali,,60.5,57.8 63.1,29.3 27.0 31.8,10.2,8.7 11.9,"4,205"
19,Nusa Tenggara Barat,,27.3,24.9 29.7,46.3 43.5 49.2,26.4,24.0 29.0,"5,041"
20,Nusa Tenggara Timur,,24.5,22.7 26.3,20.9 19.1 22.8,54.6,52.4 56.8,"4,149"
21,Kalimantan,Barat,28.4,26.1 31.0,25.6 23.0 28.4,45.9,43.4 48.5,"3,995"
22,Kalimantan,Tengah,28.3,25.6 31.1,24.1 21.1 27.3,47.7,44.6 50.8,"2,479"
23,Kalimantan,Selatan,39.3,36.9 41.8,39.8 37.2 42.4,20.9,18.9 23.1,"4,182"
24,Kalimantan,Timur,43.9,40.6 47.2,27.6 24.6 30.8,28.5,25.7 31.5,"3,424"
25,Kalimantan,Utara,39.1,34.0 44.4,33.6 28.4 39.1,27.4,23.8 31.2,617
26,Sulawesi Utara,,35.8,33.3 38.4,34.9 32.3 37.6,29.3,26.7 32.0,"2,362"
27,Sulawesi Tengah,,30.3,27.9 32.9,28.0 25.3 30.8,41.7,38.8 44.7,"2,550"
28,Sulawesi Selatan,,29.8,28.2 31.5,43.2 41.3 45.1,27.0,25.4 28.7,"7,919"
29,Sulawesi Tenggara,,27.9,25.3 30.6,36.8 33.7 40.0,35.4,32.2 38.7,"2,039"
30,Gorontalo,,33.1,29.8 36.7,34.1 30.1 38.4,32.8,28.9 36.9,"1,065"
31,Sulawesi Barat,,21.0,17.3 25.3,28.4 24.1 33.0,50.6,45.7 55.5,"1,119"
32,Maluku,,26.8,23.2 30.7,28.6 24.9 32.5,44.7,40.7 48.7,"1,330"
33,Maluku Utara,,31.4,28.3 34.7,26.5 23.1 30.2,42.1,38.0 46.3,899
34,Papua Barat,,34.5,30.3 39.0,25.9 22.2 30.0,39.6,34.8 44.5,845
35,Papua,,19.3,17.4 21.3,21.5 19.2 23.9,59.3,56.6 61.9,"2,933"
36,INDONESIA,,37.1,36.6 37.5,36.9 36.5 37.4,26.0,25.6 26.4,"254,087"

In [26]:
# Gabungkan kolom pertama dengan kolom kedua
df_edit.iloc[:,0] = df_edit.iloc[:,0] + ' ' + df_edit.iloc[:,1]
df_edit

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Akses ke Rumah Sakit,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Provinsi,Provinsi,,Mudah,Sulit,,Sangat Sulit,N
1,,,%,95% CI,% 95% CI,%,95% CI,tertimbang
2,Aceh,,29.8,27.9 31.7,41.8 39.6 44.1,28.4,26.3 30.5,"4,876"
3,Sumatera Utara,,38.8,37.1 40.4,36.7 35.0 38.5,24.5,23.0 26.1,"12,528"
4,Sumatera Barat,,35.1,32.9 37.4,38.1 35.8 40.4,26.8,24.7 29.0,"4,601"
5,Riau,,36.6,34.3 38.9,28.0 25.6 30.5,35.4,32.9 38.0,"5,901"
6,Jambi,,25.3,22.9 27.9,32.7 29.8 35.8,41.9,39.1 44.8,"3,377"
7,Sumatera Selatan,,24.9,23.0 27.0,33.0 30.4 35.7,42.0,39.6 44.5,"7,550"
8,Bengkulu,,33.3,30.8 35.9,38.7 35.9 41.7,28.0,25.3 30.8,"1,909"
9,Lampung,,26.6,24.3 29.1,38.1 35.6 40.7,35.3,32.8 37.9,"7,530"
10,Bangka Belitung,,46.5,43.3 49.7,30.7 27.4 34.3,22.8,19.8 26.1,"1,408"
11,Kepulauan Riau,,59.3,54.7 63.7,25.5 21.4 30.1,15.2,12.4 18.6,"2,148"
12,DKI Jakarta,,52.3,49.9 54.7,31.5 29.4 33.8,16.2,14.3 18.2,"11,203"
13,Jawa Barat,,32.3,31.0 33.6,38.2 36.9 39.5,29.5,28.3 30.8,"49,558"
14,Jawa Tengah,,40.9,39.8 42.1,41.3 40.1 42.5,17.8,16.8 18.8,"35,293"
15,DI Yogyakarta,,70.6,68.0 73.2,21.8 19.7 24.0,7.6,6.2 9.3,"4,258"
16,JawaTimur,,41.3,40.2 42.5,42.0 40.9 43.2,16.6,15.8 17.5,"39,773"
17,Banten,,38.4,35.9 40.9,37.9 35.5 40.4,23.7,21.7 25.9,"11,021"
18,Bali,,60.5,57.8 63.1,29.3 27.0 31.8,10.2,8.7 11.9,"4,205"
19,Nusa Tenggara Barat,,27.3,24.9 29.7,46.3 43.5 49.2,26.4,24.0 29.0,"5,041"
20,Nusa Tenggara Timur,,24.5,22.7 26.3,20.9 19.1 22.8,54.6,52.4 56.8,"4,149"
21,Kalimantan Barat,Barat,28.4,26.1 31.0,25.6 23.0 28.4,45.9,43.4 48.5,"3,995"
22,Kalimantan Tengah,Tengah,28.3,25.6 31.1,24.1 21.1 27.3,47.7,44.6 50.8,"2,479"
23,Kalimantan Selatan,Selatan,39.3,36.9 41.8,39.8 37.2 42.4,20.9,18.9 23.1,"4,182"
24,Kalimantan Timur,Timur,43.9,40.6 47.2,27.6 24.6 30.8,28.5,25.7 31.5,"3,424"
25,Kalimantan Utara,Utara,39.1,34.0 44.4,33.6 28.4 39.1,27.4,23.8 31.2,617
26,Sulawesi Utara,,35.8,33.3 38.4,34.9 32.3 37.6,29.3,26.7 32.0,"2,362"
27,Sulawesi Tengah,,30.3,27.9 32.9,28.0 25.3 30.8,41.7,38.8 44.7,"2,550"
28,Sulawesi Selatan,,29.8,28.2 31.5,43.2 41.3 45.1,27.0,25.4 28.7,"7,919"
29,Sulawesi Tenggara,,27.9,25.3 30.6,36.8 33.7 40.0,35.4,32.2 38.7,"2,039"
30,Gorontalo,,33.1,29.8 36.7,34.1 30.1 38.4,32.8,28.9 36.9,"1,065"
31,Sulawesi Barat,,21.0,17.3 25.3,28.4 24.1 33.0,50.6,45.7 55.5,"1,119"
32,Maluku,,26.8,23.2 30.7,28.6 24.9 32.5,44.7,40.7 48.7,"1,330"
33,Maluku Utara,,31.4,28.3 34.7,26.5 23.1 30.2,42.1,38.0 46.3,899
34,Papua Barat,,34.5,30.3 39.0,25.9 22.2 30.0,39.6,34.8 44.5,845
35,Papua,,19.3,17.4 21.3,21.5 19.2 23.9,59.3,56.6 61.9,"2,933"
36,INDONESIA,,37.1,36.6 37.5,36.9 36.5 37.4,26.0,25.6 26.4,"254,087"

In [27]:
# Hapus dua baris pertama dan baris paling akhir
df_edit = df_edit.iloc[2:-1].reset_index(drop=True)
df_edit

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Akses ke Rumah Sakit,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Aceh,,29.8,27.9 31.7,41.8 39.6 44.1,28.4,26.3 30.5,"4,876"
1,Sumatera Utara,,38.8,37.1 40.4,36.7 35.0 38.5,24.5,23.0 26.1,"12,528"
2,Sumatera Barat,,35.1,32.9 37.4,38.1 35.8 40.4,26.8,24.7 29.0,"4,601"
3,Riau,,36.6,34.3 38.9,28.0 25.6 30.5,35.4,32.9 38.0,"5,901"
4,Jambi,,25.3,22.9 27.9,32.7 29.8 35.8,41.9,39.1 44.8,"3,377"
5,Sumatera Selatan,,24.9,23.0 27.0,33.0 30.4 35.7,42.0,39.6 44.5,"7,550"
6,Bengkulu,,33.3,30.8 35.9,38.7 35.9 41.7,28.0,25.3 30.8,"1,909"
7,Lampung,,26.6,24.3 29.1,38.1 35.6 40.7,35.3,32.8 37.9,"7,530"
8,Bangka Belitung,,46.5,43.3 49.7,30.7 27.4 34.3,22.8,19.8 26.1,"1,408"
9,Kepulauan Riau,,59.3,54.7 63.7,25.5 21.4 30.1,15.2,12.4 18.6,"2,148"
10,DKI Jakarta,,52.3,49.9 54.7,31.5 29.4 33.8,16.2,14.3 18.2,"11,203"
11,Jawa Barat,,32.3,31.0 33.6,38.2 36.9 39.5,29.5,28.3 30.8,"49,558"
12,Jawa Tengah,,40.9,39.8 42.1,41.3 40.1 42.5,17.8,16.8 18.8,"35,293"
13,DI Yogyakarta,,70.6,68.0 73.2,21.8 19.7 24.0,7.6,6.2 9.3,"4,258"
14,JawaTimur,,41.3,40.2 42.5,42.0 40.9 43.2,16.6,15.8 17.5,"39,773"
15,Banten,,38.4,35.9 40.9,37.9 35.5 40.4,23.7,21.7 25.9,"11,021"
16,Bali,,60.5,57.8 63.1,29.3 27.0 31.8,10.2,8.7 11.9,"4,205"
17,Nusa Tenggara Barat,,27.3,24.9 29.7,46.3 43.5 49.2,26.4,24.0 29.0,"5,041"
18,Nusa Tenggara Timur,,24.5,22.7 26.3,20.9 19.1 22.8,54.6,52.4 56.8,"4,149"
19,Kalimantan Barat,Barat,28.4,26.1 31.0,25.6 23.0 28.4,45.9,43.4 48.5,"3,995"
20,Kalimantan Tengah,Tengah,28.3,25.6 31.1,24.1 21.1 27.3,47.7,44.6 50.8,"2,479"
21,Kalimantan Selatan,Selatan,39.3,36.9 41.8,39.8 37.2 42.4,20.9,18.9 23.1,"4,182"
22,Kalimantan Timur,Timur,43.9,40.6 47.2,27.6 24.6 30.8,28.5,25.7 31.5,"3,424"
23,Kalimantan Utara,Utara,39.1,34.0 44.4,33.6 28.4 39.1,27.4,23.8 31.2,617
24,Sulawesi Utara,,35.8,33.3 38.4,34.9 32.3 37.6,29.3,26.7 32.0,"2,362"
25,Sulawesi Tengah,,30.3,27.9 32.9,28.0 25.3 30.8,41.7,38.8 44.7,"2,550"
26,Sulawesi Selatan,,29.8,28.2 31.5,43.2 41.3 45.1,27.0,25.4 28.7,"7,919"
27,Sulawesi Tenggara,,27.9,25.3 30.6,36.8 33.7 40.0,35.4,32.2 38.7,"2,039"
28,Gorontalo,,33.1,29.8 36.7,34.1 30.1 38.4,32.8,28.9 36.9,"1,065"
29,Sulawesi Barat,,21.0,17.3 25.3,28.4 24.1 33.0,50.6,45.7 55.5,"1,119"
30,Maluku,,26.8,23.2 30.7,28.6 24.9 32.5,44.7,40.7 48.7,"1,330"
31,Maluku Utara,,31.4,28.3 34.7,26.5 23.1 30.2,42.1,38.0 46.3,899
32,Papua Barat,,34.5,30.3 39.0,25.9 22.2 30.0,39.6,34.8 44.5,845
33,Papua,,19.3,17.4 21.3,21.5 19.2 23.9,59.3,56.6 61.9,"2,933"

In [28]:
# Hilangkan kolom kedua
df_edit = df_edit.iloc[:,[0,2,3,4,5,6,7]]
df_edit

,Unnamed: 0,Unnamed: 2,Unnamed: 3,Akses ke Rumah Sakit,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Aceh,29.8,27.9 31.7,41.8 39.6 44.1,28.4,26.3 30.5,"4,876"
1,Sumatera Utara,38.8,37.1 40.4,36.7 35.0 38.5,24.5,23.0 26.1,"12,528"
2,Sumatera Barat,35.1,32.9 37.4,38.1 35.8 40.4,26.8,24.7 29.0,"4,601"
3,Riau,36.6,34.3 38.9,28.0 25.6 30.5,35.4,32.9 38.0,"5,901"
4,Jambi,25.3,22.9 27.9,32.7 29.8 35.8,41.9,39.1 44.8,"3,377"
5,Sumatera Selatan,24.9,23.0 27.0,33.0 30.4 35.7,42.0,39.6 44.5,"7,550"
6,Bengkulu,33.3,30.8 35.9,38.7 35.9 41.7,28.0,25.3 30.8,"1,909"
7,Lampung,26.6,24.3 29.1,38.1 35.6 40.7,35.3,32.8 37.9,"7,530"
8,Bangka Belitung,46.5,43.3 49.7,30.7 27.4 34.3,22.8,19.8 26.1,"1,408"
9,Kepulauan Riau,59.3,54.7 63.7,25.5 21.4 30.1,15.2,12.4 18.6,"2,148"
10,DKI Jakarta,52.3,49.9 54.7,31.5 29.4 33.8,16.2,14.3 18.2,"11,203"
11,Jawa Barat,32.3,31.0 33.6,38.2 36.9 39.5,29.5,28.3 30.8,"49,558"
12,Jawa Tengah,40.9,39.8 42.1,41.3 40.1 42.5,17.8,16.8 18.8,"35,293"
13,DI Yogyakarta,70.6,68.0 73.2,21.8 19.7 24.0,7.6,6.2 9.3,"4,258"
14,JawaTimur,41.3,40.2 42.5,42.0 40.9 43.2,16.6,15.8 17.5,"39,773"
15,Banten,38.4,35.9 40.9,37.9 35.5 40.4,23.7,21.7 25.9,"11,021"
16,Bali,60.5,57.8 63.1,29.3 27.0 31.8,10.2,8.7 11.9,"4,205"
17,Nusa Tenggara Barat,27.3,24.9 29.7,46.3 43.5 49.2,26.4,24.0 29.0,"5,041"
18,Nusa Tenggara Timur,24.5,22.7 26.3,20.9 19.1 22.8,54.6,52.4 56.8,"4,149"
19,Kalimantan Barat,28.4,26.1 31.0,25.6 23.0 28.4,45.9,43.4 48.5,"3,995"
20,Kalimantan Tengah,28.3,25.6 31.1,24.1 21.1 27.3,47.7,44.6 50.8,"2,479"
21,Kalimantan Selatan,39.3,36.9 41.8,39.8 37.2 42.4,20.9,18.9 23.1,"4,182"
22,Kalimantan Timur,43.9,40.6 47.2,27.6 24.6 30.8,28.5,25.7 31.5,"3,424"
23,Kalimantan Utara,39.1,34.0 44.4,33.6 28.4 39.1,27.4,23.8 31.2,617
24,Sulawesi Utara,35.8,33.3 38.4,34.9 32.3 37.6,29.3,26.7 32.0,"2,362"
25,Sulawesi Tengah,30.3,27.9 32.9,28.0 25.3 30.8,41.7,38.8 44.7,"2,550"
26,Sulawesi Selatan,29.8,28.2 31.5,43.2 41.3 45.1,27.0,25.4 28.7,"7,919"
27,Sulawesi Tenggara,27.9,25.3 30.6,36.8 33.7 40.0,35.4,32.2 38.7,"2,039"
28,Gorontalo,33.1,29.8 36.7,34.1 30.1 38.4,32.8,28.9 36.9,"1,065"
29,Sulawesi Barat,21.0,17.3 25.3,28.4 24.1 33.0,50.6,45.7 55.5,"1,119"
30,Maluku,26.8,23.2 30.7,28.6 24.9 32.5,44.7,40.7 48.7,"1,330"
31,Maluku Utara,31.4,28.3 34.7,26.5 23.1 30.2,42.1,38.0 46.3,899
32,Papua Barat,34.5,30.3 39.0,25.9 22.2 30.0,39.6,34.8 44.5,845
33,Papua,19.3,17.4 21.3,21.5 19.2 23.9,59.3,56.6 61.9,"2,933"

In [29]:
df_edit[['1','2']] = df_edit.iloc[:,2].str.split(' ',expand=True)
df_edit[['3','4','5']] = df_edit.iloc[:,3].str.split(' ',expand=True)
df_edit[['7','8']] = df_edit.iloc[:,5].str.split(' ',expand=True)
df_edit

,Unnamed: 0,Unnamed: 2,Unnamed: 3,Akses ke Rumah Sakit,Unnamed: 4,Unnamed: 5,Unnamed: 6,1,2,3,4,5,7,8
0,Aceh,29.8,27.9 31.7,41.8 39.6 44.1,28.4,26.3 30.5,"4,876",27.9,31.7,41.8,39.6,44.1,26.3,30.5
1,Sumatera Utara,38.8,37.1 40.4,36.7 35.0 38.5,24.5,23.0 26.1,"12,528",37.1,40.4,36.7,35.0,38.5,23.0,26.1
2,Sumatera Barat,35.1,32.9 37.4,38.1 35.8 40.4,26.8,24.7 29.0,"4,601",32.9,37.4,38.1,35.8,40.4,24.7,29.0
3,Riau,36.6,34.3 38.9,28.0 25.6 30.5,35.4,32.9 38.0,"5,901",34.3,38.9,28.0,25.6,30.5,32.9,38.0
4,Jambi,25.3,22.9 27.9,32.7 29.8 35.8,41.9,39.1 44.8,"3,377",22.9,27.9,32.7,29.8,35.8,39.1,44.8
5,Sumatera Selatan,24.9,23.0 27.0,33.0 30.4 35.7,42.0,39.6 44.5,"7,550",23.0,27.0,33.0,30.4,35.7,39.6,44.5
6,Bengkulu,33.3,30.8 35.9,38.7 35.9 41.7,28.0,25.3 30.8,"1,909",30.8,35.9,38.7,35.9,41.7,25.3,30.8
7,Lampung,26.6,24.3 29.1,38.1 35.6 40.7,35.3,32.8 37.9,"7,530",24.3,29.1,38.1,35.6,40.7,32.8,37.9
8,Bangka Belitung,46.5,43.3 49.7,30.7 27.4 34.3,22.8,19.8 26.1,"1,408",43.3,49.7,30.7,27.4,34.3,19.8,26.1
9,Kepulauan Riau,59.3,54.7 63.7,25.5 21.4 30.1,15.2,12.4 18.6,"2,148",54.7,63.7,25.5,21.4,30.1,12.4,18.6
10,DKI Jakarta,52.3,49.9 54.7,31.5 29.4 33.8,16.2,14.3 18.2,"11,203",49.9,54.7,31.5,29.4,33.8,14.3,18.2
11,Jawa Barat,32.3,31.0 33.6,38.2 36.9 39.5,29.5,28.3 30.8,"49,558",31.0,33.6,38.2,36.9,39.5,28.3,30.8
12,Jawa Tengah,40.9,39.8 42.1,41.3 40.1 42.5,17.8,16.8 18.8,"35,293",39.8,42.1,41.3,40.1,42.5,16.8,18.8
13,DI Yogyakarta,70.6,68.0 73.2,21.8 19.7 24.0,7.6,6.2 9.3,"4,258",68.0,73.2,21.8,19.7,24.0,6.2,9.3
14,JawaTimur,41.3,40.2 42.5,42.0 40.9 43.2,16.6,15.8 17.5,"39,773",40.2,42.5,42.0,40.9,43.2,15.8,17.5
15,Banten,38.4,35.9 40.9,37.9 35.5 40.4,23.7,21.7 25.9,"11,021",35.9,40.9,37.9,35.5,40.4,21.7,25.9
16,Bali,60.5,57.8 63.1,29.3 27.0 31.8,10.2,8.7 11.9,"4,205",57.8,63.1,29.3,27.0,31.8,8.7,11.9
17,Nusa Tenggara Barat,27.3,24.9 29.7,46.3 43.5 49.2,26.4,24.0 29.0,"5,041",24.9,29.7,46.3,43.5,49.2,24.0,29.0
18,Nusa Tenggara Timur,24.5,22.7 26.3,20.9 19.1 22.8,54.6,52.4 56.8,"4,149",22.7,26.3,20.9,19.1,22.8,52.4,56.8
19,Kalimantan Barat,28.4,26.1 31.0,25.6 23.0 28.4,45.9,43.4 48.5,"3,995",26.1,31.0,25.6,23.0,28.4,43.4,48.5
20,Kalimantan Tengah,28.3,25.6 31.1,24.1 21.1 27.3,47.7,44.6 50.8,"2,479",25.6,31.1,24.1,21.1,27.3,44.6,50.8
21,Kalimantan Selatan,39.3,36.9 41.8,39.8 37.2 42.4,20.9,18.9 23.1,"4,182",36.9,41.8,39.8,37.2,42.4,18.9,23.1
22,Kalimantan Timur,43.9,40.6 47.2,27.6 24.6 30.8,28.5,25.7 31.5,"3,424",40.6,47.2,27.6,24.6,30.8,25.7,31.5
23,Kalimantan Utara,39.1,34.0 44.4,33.6 28.4 39.1,27.4,23.8 31.2,617,34.0,44.4,33.6,28.4,39.1,23.8,31.2
24,Sulawesi Utara,35.8,33.3 38.4,34.9 32.3 37.6,29.3,26.7 32.0,"2,362",33.3,38.4,34.9,32.3,37.6,26.7,32.0
25,Sulawesi Tengah,30.3,27.9 32.9,28.0 25.3 30.8,41.7,38.8 44.7,"2,550",27.9,32.9,28.0,25.3,30.8,38.8,44.7
26,Sulawesi Selatan,29.8,28.2 31.5,43.2 41.3 45.1,27.0,25.4 28.7,"7,919",28.2,31.5,43.2,41.3,45.1,25.4,28.7
27,Sulawesi Tenggara,27.9,25.3 30.6,36.8 33.7 40.0,35.4,32.2 38.7,"2,039",25.3,30.6,36.8,33.7,40.0,32.2,38.7
28,Gorontalo,33.1,29.8 36.7,34.1 30.1 38.4,32.8,28.9 36.9,"1,065",29.8,36.7,34.1,30.1,38.4,28.9,36.9
29,Sulawesi Barat,21.0,17.3 25.3,28.4 24.1 33.0,50.6,45.7 55.5,"1,119",17.3,25.3,28.4,24.1,33.0,45.7,55.5
30,Maluku,26.8,23.2 30.7,28.6 24.9 32.5,44.7,40.7 48.7,"1,330",23.2,30.7,28.6,24.9,32.5,40.7,48.7
31,Maluku Utara,31.4,28.3 34.7,26.5 23.1 30.2,42.1,38.0 46.3,899,28.3,34.7,26.5,23.1,30.2,38.0,46.3
32,Papua Barat,34.5,30.3 39.0,25.9 22.2 30.0,39.6,34.8 44.5,845,30.3,39.0,25.9,22.2,30.0,34.8,44.5
33,Papua,19.3,17.4 21.3,21.5 19.2 23.9,59.3,56.6 61.9,"2,933",17.4,21.3,21.5,19.2,23.9,56.6,61.9

In [32]:
df_edit = df_edit.iloc[:,[0,1,7,8,9,10,11,4,12,13,6]]
df_edit

,Unnamed: 0,Unnamed: 2,1,2,3,4,5,Unnamed: 4,7,8,Unnamed: 6
0,Aceh,29.8,27.9,31.7,41.8,39.6,44.1,28.4,26.3,30.5,"4,876"
1,Sumatera Utara,38.8,37.1,40.4,36.7,35.0,38.5,24.5,23.0,26.1,"12,528"
2,Sumatera Barat,35.1,32.9,37.4,38.1,35.8,40.4,26.8,24.7,29.0,"4,601"
3,Riau,36.6,34.3,38.9,28.0,25.6,30.5,35.4,32.9,38.0,"5,901"
4,Jambi,25.3,22.9,27.9,32.7,29.8,35.8,41.9,39.1,44.8,"3,377"
5,Sumatera Selatan,24.9,23.0,27.0,33.0,30.4,35.7,42.0,39.6,44.5,"7,550"
6,Bengkulu,33.3,30.8,35.9,38.7,35.9,41.7,28.0,25.3,30.8,"1,909"
7,Lampung,26.6,24.3,29.1,38.1,35.6,40.7,35.3,32.8,37.9,"7,530"
8,Bangka Belitung,46.5,43.3,49.7,30.7,27.4,34.3,22.8,19.8,26.1,"1,408"
9,Kepulauan Riau,59.3,54.7,63.7,25.5,21.4,30.1,15.2,12.4,18.6,"2,148"
10,DKI Jakarta,52.3,49.9,54.7,31.5,29.4,33.8,16.2,14.3,18.2,"11,203"
11,Jawa Barat,32.3,31.0,33.6,38.2,36.9,39.5,29.5,28.3,30.8,"49,558"
12,Jawa Tengah,40.9,39.8,42.1,41.3,40.1,42.5,17.8,16.8,18.8,"35,293"
13,DI Yogyakarta,70.6,68.0,73.2,21.8,19.7,24.0,7.6,6.2,9.3,"4,258"
14,JawaTimur,41.3,40.2,42.5,42.0,40.9,43.2,16.6,15.8,17.5,"39,773"
15,Banten,38.4,35.9,40.9,37.9,35.5,40.4,23.7,21.7,25.9,"11,021"
16,Bali,60.5,57.8,63.1,29.3,27.0,31.8,10.2,8.7,11.9,"4,205"
17,Nusa Tenggara Barat,27.3,24.9,29.7,46.3,43.5,49.2,26.4,24.0,29.0,"5,041"
18,Nusa Tenggara Timur,24.5,22.7,26.3,20.9,19.1,22.8,54.6,52.4,56.8,"4,149"
19,Kalimantan Barat,28.4,26.1,31.0,25.6,23.0,28.4,45.9,43.4,48.5,"3,995"
20,Kalimantan Tengah,28.3,25.6,31.1,24.1,21.1,27.3,47.7,44.6,50.8,"2,479"
21,Kalimantan Selatan,39.3,36.9,41.8,39.8,37.2,42.4,20.9,18.9,23.1,"4,182"
22,Kalimantan Timur,43.9,40.6,47.2,27.6,24.6,30.8,28.5,25.7,31.5,"3,424"
23,Kalimantan Utara,39.1,34.0,44.4,33.6,28.4,39.1,27.4,23.8,31.2,617
24,Sulawesi Utara,35.8,33.3,38.4,34.9,32.3,37.6,29.3,26.7,32.0,"2,362"
25,Sulawesi Tengah,30.3,27.9,32.9,28.0,25.3,30.8,41.7,38.8,44.7,"2,550"
26,Sulawesi Selatan,29.8,28.2,31.5,43.2,41.3,45.1,27.0,25.4,28.7,"7,919"
27,Sulawesi Tenggara,27.9,25.3,30.6,36.8,33.7,40.0,35.4,32.2,38.7,"2,039"
28,Gorontalo,33.1,29.8,36.7,34.1,30.1,38.4,32.8,28.9,36.9,"1,065"
29,Sulawesi Barat,21.0,17.3,25.3,28.4,24.1,33.0,50.6,45.7,55.5,"1,119"
30,Maluku,26.8,23.2,30.7,28.6,24.9,32.5,44.7,40.7,48.7,"1,330"
31,Maluku Utara,31.4,28.3,34.7,26.5,23.1,30.2,42.1,38.0,46.3,899
32,Papua Barat,34.5,30.3,39.0,25.9,22.2,30.0,39.6,34.8,44.5,845
33,Papua,19.3,17.4,21.3,21.5,19.2,23.9,59.3,56.6,61.9,"2,933"

In [36]:
df_edit.columns[0]

'Unnamed: 0'

In [39]:
# rename columns
df_edit = df_edit.rename(columns={
               df_edit.columns[0]:'Provinsi',
               df_edit.columns[1]:'Mudah_%',
               df_edit.columns[2]:'Mudah_CI95%_1',
               df_edit.columns[3]:'Mudah_CI95%_2',
               df_edit.columns[4]:'Sulit_%',
               df_edit.columns[5]:'Sulit_CI95%_1',
               df_edit.columns[6]:'Sulit_CI95%_2',
               df_edit.columns[7]:'Sangat_Sulit_%',
               df_edit.columns[8]:'Sangat_Sulit_CI95%_1',
               df_edit.columns[9]:'Sangat_Sulit_CI95%_2',
               df_edit.columns[10]:'N'
                        }
              )

In [40]:
df_edit

,Provinsi,Mudah_%,Mudah_CI95%_1,Mudah_CI95%_2,Sulit_%,Sulit_CI95%_1,Sulit_CI95%_2,Sangat_Sulit_%,Sangat_Sulit_CI95%_1,Sangat_Sulit_CI95%_2,N
0,Aceh,29.8,27.9,31.7,41.8,39.6,44.1,28.4,26.3,30.5,"4,876"
1,Sumatera Utara,38.8,37.1,40.4,36.7,35.0,38.5,24.5,23.0,26.1,"12,528"
2,Sumatera Barat,35.1,32.9,37.4,38.1,35.8,40.4,26.8,24.7,29.0,"4,601"
3,Riau,36.6,34.3,38.9,28.0,25.6,30.5,35.4,32.9,38.0,"5,901"
4,Jambi,25.3,22.9,27.9,32.7,29.8,35.8,41.9,39.1,44.8,"3,377"
5,Sumatera Selatan,24.9,23.0,27.0,33.0,30.4,35.7,42.0,39.6,44.5,"7,550"
6,Bengkulu,33.3,30.8,35.9,38.7,35.9,41.7,28.0,25.3,30.8,"1,909"
7,Lampung,26.6,24.3,29.1,38.1,35.6,40.7,35.3,32.8,37.9,"7,530"
8,Bangka Belitung,46.5,43.3,49.7,30.7,27.4,34.3,22.8,19.8,26.1,"1,408"
9,Kepulauan Riau,59.3,54.7,63.7,25.5,21.4,30.1,15.2,12.4,18.6,"2,148"
10,DKI Jakarta,52.3,49.9,54.7,31.5,29.4,33.8,16.2,14.3,18.2,"11,203"
11,Jawa Barat,32.3,31.0,33.6,38.2,36.9,39.5,29.5,28.3,30.8,"49,558"
12,Jawa Tengah,40.9,39.8,42.1,41.3,40.1,42.5,17.8,16.8,18.8,"35,293"
13,DI Yogyakarta,70.6,68.0,73.2,21.8,19.7,24.0,7.6,6.2,9.3,"4,258"
14,JawaTimur,41.3,40.2,42.5,42.0,40.9,43.2,16.6,15.8,17.5,"39,773"
15,Banten,38.4,35.9,40.9,37.9,35.5,40.4,23.7,21.7,25.9,"11,021"
16,Bali,60.5,57.8,63.1,29.3,27.0,31.8,10.2,8.7,11.9,"4,205"
17,Nusa Tenggara Barat,27.3,24.9,29.7,46.3,43.5,49.2,26.4,24.0,29.0,"5,041"
18,Nusa Tenggara Timur,24.5,22.7,26.3,20.9,19.1,22.8,54.6,52.4,56.8,"4,149"
19,Kalimantan Barat,28.4,26.1,31.0,25.6,23.0,28.4,45.9,43.4,48.5,"3,995"
20,Kalimantan Tengah,28.3,25.6,31.1,24.1,21.1,27.3,47.7,44.6,50.8,"2,479"
21,Kalimantan Selatan,39.3,36.9,41.8,39.8,37.2,42.4,20.9,18.9,23.1,"4,182"
22,Kalimantan Timur,43.9,40.6,47.2,27.6,24.6,30.8,28.5,25.7,31.5,"3,424"
23,Kalimantan Utara,39.1,34.0,44.4,33.6,28.4,39.1,27.4,23.8,31.2,617
24,Sulawesi Utara,35.8,33.3,38.4,34.9,32.3,37.6,29.3,26.7,32.0,"2,362"
25,Sulawesi Tengah,30.3,27.9,32.9,28.0,25.3,30.8,41.7,38.8,44.7,"2,550"
26,Sulawesi Selatan,29.8,28.2,31.5,43.2,41.3,45.1,27.0,25.4,28.7,"7,919"
27,Sulawesi Tenggara,27.9,25.3,30.6,36.8,33.7,40.0,35.4,32.2,38.7,"2,039"
28,Gorontalo,33.1,29.8,36.7,34.1,30.1,38.4,32.8,28.9,36.9,"1,065"
29,Sulawesi Barat,21.0,17.3,25.3,28.4,24.1,33.0,50.6,45.7,55.5,"1,119"
30,Maluku,26.8,23.2,30.7,28.6,24.9,32.5,44.7,40.7,48.7,"1,330"
31,Maluku Utara,31.4,28.3,34.7,26.5,23.1,30.2,42.1,38.0,46.3,899
32,Papua Barat,34.5,30.3,39.0,25.9,22.2,30.0,39.6,34.8,44.5,845
33,Papua,19.3,17.4,21.3,21.5,19.2,23.9,59.3,56.6,61.9,"2,933"

In [ ]:
df_edit.to_csv('')